/**
 * CH01 - Basic Settings
 * CH02 - Title and Login
 * CH03 - Fade Animation
 * CH04 - Flashcard Setup
**/

/* CH01 - Basic Settings
===============================================================================
*/

/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,700"); */

@font-face {
 font-family: 'My-Raleway';
 src: url('chrome-extension://__ijmpnlakppmpnkhcpdobhbjgnehdlegh__/assets/fonts/Raleway-Bold.ttf');
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'My-Raleway';
}

body {
  margin: 0;
  height: 100%;
}

.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hide {
  display: none;
}

#login-page {
  height: 100%;
  width: 100%;
  margin: 0;
}

#sets-page {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* CH02 - Title and Login
===============================================================================
*/
h1 {
  font-size: 5em;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

#login-button {
  border: 2px solid;
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#login-button:hover {
  color: grey;
}

/* CH03 - Fade Animation
===============================================================================
*/
.fade-in-anim {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* CH04 - Flashcard Setup
===============================================================================
*/
#card {
	width: 500px;
	height: 300px;
}

#card .front, #card .back {
	text-align: center;
	font-size: 30px;
	font-weight: 400;
  background-color: white;
}

.center-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue-background {
  background-color: #e3e5ed;
}
