/**
 * CH01 - Background Settings
 * CH02 - Title and Login
 * CH03 - Fade Animation
**/

/* CH01 - Background Settings
===============================================================================
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

/* @font-face {
 font-family: 'Raleway';
 font-style: bold;
 font-weight: 700;
 src: url('chrome-extension://__ijmpnlakppmpnkhcpdobhbjgnehdlegh__/assets/fonts/Raleway-Bold.ttf');
} */

html {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Raleway';
}

body {
  margin: 0;
  height: 100%;
}

.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* CH02 - Title and Login
===============================================================================
*/
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

h1 {
  font-size: 5em;
}

.login-button {
  border: 2px solid;
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.login-button:hover {
  color: grey;
}

/* CH03 - Fade Animation
===============================================================================
*/
.fade-in-anim {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
