/**
 * CH01 - Basic Settings
 * CH02 - Title and Login
 * CH03 - Fade Animation
 * CH04 - Flashcard Setup
 * CH05 - Sets Setup
 * CH06 - Side Navigation
**/

/* CH01 - Basic Settings
===============================================================================
*/

/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,700"); */

@font-face {
 font-family: 'My-Raleway';
 src: url('chrome-extension://__ijmpnlakppmpnkhcpdobhbjgnehdlegh__/assets/fonts/Raleway-Bold.ttf');
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'My-Raleway';
}

body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hide {
  display: none;
}

#login-page {
  height: 100%;
  width: 100%;
  margin: 0;
}

#sets-page {
  height: 100%;
  width: 100%;
  margin: 0;
}

#flashcards-page {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* CH02 - Title and Login
===============================================================================
*/
h1 {
  font-size: 5em;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
}

.center-horizontally {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#login-button {
  border: 2px solid;
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#login-button:hover {
  color: grey;
}

/* CH03 - Fade Animation
===============================================================================
*/
.fade-in-anim {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

.fast-fade-in {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode:forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* CH04 - Flashcard Setup
===============================================================================
*/
#card {
	width: 500px;
	height: 270px;
}

#card .front, #card .back {
	text-align: center;
	font-size: 30px;
	font-weight: 400;
  background-color: white;
  padding: 30px;
}

.center-card {
  margin: 0;
  position: absolute;
  top: calc(50% - 30px); /* 30px is the card's padding*/
  left: calc(50% - 30px);
  transform: translate(-50%, -50%);
  color: black;
}

.switch-card {
  position: relative;
  top: 220px;
  color: black;
  margin: 0 15px;
}

.switch-card:hover {
  color: grey;
}

.center-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue-background {
  background-color: #e6e6e6;
}

/* CH05 - Sets Setup
===============================================================================
*/
.set-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
    height: 100px;
    background-color: white;
    transition: 0.3s;
    text-align: left;
    padding: 5px 30px;
    margin: 25px;
}

/* On mouse-over, add a deeper shadow */
.set-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.set-title {
	margin-bottom: 3px;
	font-size: 1.6em;
	font-weight: 400;
}

.underline{
    border-bottom: 2px solid #00CED1;
    width: 100%;
    display: block;
}

/* CH06 - Side Navigation
===============================================================================
*/
.side-nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
  text-align: left;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

.side-nav .close-nav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-nav i {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

.open-nav i:hover {
  color: grey;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
